<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Userpassword:</b>
  <%= @user.userpassword %>
</p>

<p>
  <b>Usertype:</b>
  <%= @user.usertype %>
</p>

<p>
  <b>Options:</b>
  <%= @user.options_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
