<center>
  <b>Contact Us!</b>
  <br> All emails should be answered in approximately one business day.<bt> If you do not hear from us soon don't be afraid to try again!<br><br><br>
  <table width = "500"><left><b><%= form_for @contactor, :action => "create" do |f| %><tr><td>
    Name:</td>
    <td>
    <%= f.text_field :contactorname %>
</td>
<tr><td>    
    Your Email (double check):</td>
    <td>
    <%= f.text_field :contactoremail %></td>
    <tr><td>
  
    
    Subject:</td>
    <td>
    <%= f.select :contactorsubject, options_for_select([['Payment Options', 'Payment Options'], ['Importation', 'Importation'], ['About an Item in Stock', 'About an Item in Stock'], ['Other Product', 'Other Product'], ['Add me to your Mailing List', 'Mailing List'], ['Business Proposition', 'Business Proposition'], ['Other', 'Other']]) %>
  </td>
  <tr><td>
  
    Comments: </td>
    <td>
    <%= f.text_area :contactorbody, :cols => "25", :rows => "6" %>
  </td>
  <tr><td></td><td>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</left></td></b>
</table>
</center>