<%= form_for @contactor, :action => "create" do |f| %>
  <div class="field">
    <%= f.label :contactorname %><br />
    <%= f.text_field :contactorname %>
  </div>
    <div class="field">
    <%= f.label :contactoremail %><br />
    <%= f.text_field :contactoremail %>
  </div>
    <div class="field">
    <%= f.label :contactorsubject %><br />
    <%= f.text_field :contactorsubject %>
  </div>
    <div class="field">
    <%= f.label :contactorbody %><br />
    <%= f.text_field :contactorbody %>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
