<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vendor_name %><br />
    <%= f.text_field :vendor_name %>
  </div>
  <div class="field">
    <%= f.label :vendor_email %><br />
    <%= f.text_field :vendor_email %>
  </div>
  <div class="field">
    <%= f.file_field :vendor_image %><br />
  </div>
  <div class="field">
    <%= f.label :vendor_products %><br />
    <%= f.text_field :vendor_products %>
  </div>
  <div class="field">
    <%= f.label :vendor_notes %><br />
    <%= f.text_area :vendor_notes %>
  </div>
  <div class="field">
    <%= f.label :vendor_payment %><br />
    <%= f.text_field :vendor_payment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
