<center>
  <b>Contact Us!</b>
  <br> All emails should be answered in approximately one business day. If you do not hear from us soon don't be afraid to try again!<br>
<%= form_for @contactor, :action => "create" do |f| %>
  <div class="field">
    Your Name:<br />
    <%= f.text_field :contactorname %>
  </div>
    <div class="field">
    Your Email (double check before submitting):<br />
    <%= f.text_field :contactoremail %>
  </div>
    <div class="field">
    Subject:<br />
    <%= f.select (:contactorsubject, [['Payment Options', 'Payment Options'], ['Importation', 'Importation'], ['About an Item in Stock', 'About an Item in Stock'], ['Other Product', 'Other Product'], ['Add me to your Mailing List', 'Mailing List'], ['Business Proposition', 'Business Proposition'], ['Other', 'Other']], 1) %>
  </div>
    <div class="field">
    Body:<br />
    <%= f.text_field :contactorbody %>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</center>