
<br><br><div class="browse">
        <%= link_to :order => 'name' do %> <div class="bar">Sort by Name</div><% end %>
        <%= link_to :order => 'price' do %><div class="bar">Sort by Price</div><%end%>
        <%= link_to :order => 'type' do %> <div class="bar">Sort by Type</div><%end%>
        <% @listing = Array.new %>

        <% @allproducts.each do |product| %>
        <% unless @listing.include?(product.producttype) %>
          <% @listing << product.producttype %>
            
              <%= link_to :order => product.producttype do %><div class="bar">
              <%= product.producttype %>
            </div>
            <%end%>
          <% end %>
          <% end %>
          <%= link_to :order => nil do %><div class="bar">Show All Products</div><%end%>
</div>
<div class="show">
<div id="products">
  <div class='page'>
<%= render @products %>
</div>
</div>
<% if cookies[:vendid] == @secretword %>
<%= link_to 'New Product', new_product_path %>
<%= link_to 'Vendors', vendors_path %>
<% end %>
</div>

<script type="text/javascript">


(function() {
  var page = 1,
      loading = false;

  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 200;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      loading=true;
      page++;
      $.ajax({
        url: '/products?page=' + page,
        type: 'get',
        dataType: 'script',
        success: function() {
          $(window).sausage('draw');
          loading=false;
        }
      });
    }
  });

  $(window).sausage();
}());
</script>