
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<br><br><div class="browse">
        <%= link_to :order => 'name' do %> <div class="bar">Sort by Name</div><% end %>
        <%= link_to :order => 'price' do %><div class="bar">Sort by Price</div><%end%>
        <%= link_to :order => 'type' do %> <div class="bar">Sort by Type</div><%end%>
        <% @listing = Array.new %>

        <% @allproducts.each do |product| %>
        <% unless @listing.include?(product.producttype) %>
          <% @listing << product.producttype %>
            
              <%= link_to :order => product.producttype do %><div class="bar">
              <%= product.producttype %>
            </div>
            <%end%>
          <% end %>
          <% end %>
          <%= link_to :order => nil do %><div class="bar">Show All Products</div><%end%><br>
          <a href="https://twitter.com/AkimonoMe" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @AkimonoMe</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br>

<div class="fb-like-box" data-href="https://www.facebook.com/pages/Akimono/307704364656" data-width="80" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

</div>
<div class="show">
<div id="products">
<%= render @products %>
</div>
<% if cookies[:vendid] == @secretword %>
<%= link_to 'New Product', new_product_path %>
<%= link_to 'Vendors', vendors_path %>
<% end %>
</div>
