
<% if line_item == @current_item %>
    <tr id="current_item">
  <% else %>
	<tr>
  <%end%>
  <td> <%= line_item.product.name %></td>
  <td> <center><%= form_for(line_item) do |f| %>
  	<div style="display: none;" class="field">
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
</div>
<div class="field">
<%= f.number_field :line_quantity, :style => "width:40px;", :min => 0 %><%= f.submit "update" %>
</div>

    <%end%>
  </div> </center> </td>
  
  <td class="itemprice"><%= number_to_currency(line_item.total_price) %></td>
</tr> 